<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>usedList</title>
    <th:block th:insert="/common/common :: fragment-header"></th:block>
<link rel="stylesheet" th:href="@{/css/list.css}">
<style>
    body {
        background-color: #f4f4f4;
    }
</style>
<script th:inline="javascript">
    function reload(){
        location.href="/used/list";
    }

    $(function (){
        let num = 0;
        $("#btnPlus").click(function (){
            num+=9;
            $.ajax({
                type: "get",
                url: "/used/list",
                data: {num:num, categoryId:$("#category_select").val(), search:[[${search}]]},
                success: function(data) {
                    $("#list").append(data);
                }
            });
        });

        $("#btnSubmit").click(function(){
            let category = $("#category");
            let price = $("#inputPrice");
            let content = $("#inputContent");
            let files = $("#files");
            if(category.val() == 0) {
                alert("카테고리를 선택하세요");
                category.focus();
                return;
            }
            if(price.val() == ''){
                alert("가격을 입력하세요");
                price.focus();
                return;
            }
            if (content.val() == "") {
                alert("내용을 입력하세요");
                content.focus();
                return;
            }
            if (files.val() == "") {
                alert("사진을 올려주세요");
                files.focus();
                return;
            }
            document.writeForm.submit();
        });

        $("#btnWrite").click(function (){
            if(checkIsAuthenticated()){
                if(checkIsAuthorization()){
                    location.href="/member/editInfo?message=추가 정보를 입력한 뒤에 사용하세요";
                    return;
                }else{
                    $("#writeForm").slideDown();
                }
            }else{
                if(confirm("상품등록은 로그인 후 가능합니다\n로그인 하시겠습니까?")){
                    location.href="/member/loginForm";
                }
            }
        });
        $("#returnBtn").click(function (){
            $("#writeForm").slideUp();
        });
        $("#category_select").change(function(){
            let categoryId = $("#category_select").val();
            let search = [[${search}]];

            location.href="/used/list?categoryId=" + categoryId + "&search=" + search;
        });

        const inputPrice = document.getElementById("inputPrice");

        inputPrice.addEventListener("input", function(event) {
            // 입력된 값에서 숫자 이외의 문자 제거
            const formattedValue = this.value.replace(/\D/g, "");

            // 3자리마다 컴마 추가
            const numberWithCommas = formattedValue.replace(/\B(?=(\d{3})+(?!\d))/g, ",");

            // 값을 다시 설정하여 숫자 입력 필드에 반영
            this.value = numberWithCommas;
        });
    });
</script>
</head>
<body>
<div th:replace="nav::div"></div>

<header class="mt-5">
    <h1><a href="#" onclick="reload()">중고거래</a></h1>
</header>

<section class="container mt-2">
    <div class="div_1 py-3">
        <article class="write">
            <button type="button" class="mb-3" id="btnWrite">상품등록</button>
        </article>
        <article class="category">
            <select id="category_select" name="categoryId">
                <option value="0">전체상품</option>
                <th:block th:each="category:${category}">
                    <option th:value="${category.categoryId}" th:text="${category.categoryName}" th:selected="${category.categoryId eq categoryId}"></option>
                </th:block>
            </select>
        </article>
    </div>
    <article th:include="used/post :: section" style="display: none;" id="writeForm"></article>




    <div id="list" class="row">
        <article class="col col-xl-4 col-lg-6 col-md-6 col-sm-12 pb-5" th:each="row : ${list}">
            <div class="item p-3" th:onclick="|location.href='@{detail(postId=${row.postId})}'|">
                <img class="list_img" th:src="@{/used/findImg(postId=${row.postId})}">
                <div class="div_2 mt-3">
                    <h5 th:text="${row.title}"></h5>
                    <span th:inline="text">
                        [[${row.postView}]]
                        <i class="bi bi-caret-up-fill"></i>
                    </span>

                </div>
                <div class="div_3">
                    <span class="price" th:inline="text">
                        [[${row.price}]] 원
                    </span>
                    <span th:inline="text">
                        [[${row.likesCount}]]
                        <i class="bi bi-heart-fill" style="color: red"></i>
                    </span>
                </div>
                <div class="div_4">
                    <p th:text="${row.content}"></p>
                    <span th:inline="text">
                        [[${row.replyCount}]]
                        <i class="bi bi-chat-dots-fill"></i>
                    </span>
                </div>
                <span th:text="${row.address}"></span>
            </div>
        </article>
    </div>
    <article class="col col-12 mb-5">
        <button type="button" id="btnPlus">더보기</button>
    </article>
</section>

<!-- Footer-->
<div th:replace="footer :: footer"></div>
</body>
</html>