<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>더보기</title>
<link rel="stylesheet" th:href="@{/css/list.css}">
<style>
    body {
        background-color: #f4f4f4;
    }
</style>
</head>

<body>
<article class="col col-xl-4 col-lg-6 col-md-6 col-sm-12 pb-5" th:each="row : ${list}">
    <div class="item p-3" th:onclick="|location.href='@{detail(postId=${row.postId})}'|">
        <img class="list_img" th:src="@{${row.fileInfo.url}}">
        <div class="div_2 mt-3">
            <h5 th:text="${row.title}"></h5>
            <span th:inline="text">
                [[${row.postView}]]
                <i class="bi bi-caret-up-fill"></i>
            </span>
        </div>
        <div class="div_3">
            <span class="price" th:inline="text">
                [[${row.price}]] 원
            </span>
            <span th:inline="text">
                [[${row.likesCount}]]
                <i class="bi bi-heart-fill" style="color: red"></i>
            </span>
        </div>
        <div class="div_4">
            <p th:text="${row.content}"></p>
            <span th:inline="text">
                [[${row.replyCount}]]
                <i class="bi bi-chat-dots-fill"></i>
            </span>
        </div>
        <span th:text="${row.address}"></span>
    </div>
</article>
</body>
</html>
