

<section>
    <form name="writeForm" class="row g-3" action="/used/post" enctype="multipart/form-data" method="post">
        <div class="container px-4 px-lg-5 my-5" >
            <div class="row">
                <div class="col-md-6">
                    <label for="inputTitle" class="form-label">제목</label>
                    <input type="text" class="form-control" id="inputTitle" name="title">
                </div>
                <div class="col-md-3">
                    <label for="category" class="form-label">카테고리</label>
                    <select id="category" class="form-select" name="categoryId">
                        <option value="0" selected>카테고리</option>
                        <option value="1">전자기기</option>
                        <option value="2">취미</option>
                        <option value="3">생활용품</option>
                        <option value="4">의류</option>
                        <option value="5">기타</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputPrice" class="form-label">가격</label>
                    <input type="text" class="form-control" id="inputPrice" name="price">
                </div>
                <div class="col-md-12">
                    <label for="files" class="form-label">첨부파일</label>
                    <input type="file" id="files" name="files" class="form-control" multiple accept="image/jpeg,image/png">
                </div>
                <div class="col-md-12">
                    <label for="inputContent" class="form-label">내용</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="내용" id="inputContent" style="height: 300px" name="content"></textarea>
                        <label for="inputContent">커뮤니티 매너를 지켜주세요</label>
                    </div>
                </div>
                <div class="col-md-6 my-1">
                    <button type="button" class="btn btn-primary" id="btnSubmit">작성완료</button>
                    <button type="button" class="btn btn-primary" id="returnBtn">뒤로가기</button>
                </div>
            </div>
        </div>
    </form>
</section>




