<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Title</title>
<script src="https://kit.fontawesome.com/e16047a0d4.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>
<section class="container" style="border: 1px solid red;">
    <article class="row" style="border: 1px solid green;">
        <div class="col-12 col-md-6 col-lg-4 col-xl-4" style="border: 1px solid yellow; display: flex; justify-content: center;">
            <img src="https://cdn.pixabay.com/photo/2023/05/09/07/18/space-7980556_1280.jpg" style="width: 300px; height: 400px;">
        </div>
        <div class="col-12 col-md-6 col-lg-8 col-xl-8" style="border: 1px solid yellow;">
            <input type="hidden" value="memberId">
            <span>ID : GOOGLE_123479801324790813247</span> <br>
            PASSWORD : <input value="비밀번호는 일반 로그인만 보이게"> <br>
            ADDRESS : <input value="주소"> <br>
            ADDRESSDETAIL : <input value="상세주소"> <br>
        </div>
    </article>
</section>
</body>
</html>