<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8" />
<title>login</title>
  <th:block th:insert="/common/common :: fragment-header"></th:block>
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">

</head>
<body>
<section class="login-form">
  <h1>LOGIN</h1>
  <form action="/login" method="post" name="loginForm">
    <div class="int-area">
      <input type="email" name="memberEmail" id="memberEmail" autocomplete="off" required>
      <label for="memberEmail">member E-MAIL</label>
    </div>
    <div class="int-area">
      <input type="password" name="memberPWD" id="memberPWD" autocomplete="off" required>
      <label for="memberPWD">PASSWORD</label>
    </div>
    <div>
      <span th:text="${errorMessage}" style="color: red;"></span>
    </div>
    <div>
      <a href="/member/joinForm">계정이 없으신가요?</a> <br>
      <button class="mb-2" id="btn" style="border: 0; background-color: transparent; cursor:pointer;"><img th:src="@{/img/nomal.png}" style="width: 400px;"></button> <br>
      <a href="/oauth2/authorization/google"><img class="mb-2" th:src="@{/img/google.png}" style="width: 400px;"></a> <br>
      <a href="/oauth2/authorization/kakao"><img class="mb-2" th:src="@{/img/kakao.png}" style="width: 400px;"></a> <br>
      <a href="/oauth2/authorization/naver"><img class="mb-2" th:src="@{/img/naver.png}" style="width: 400px;"></a> <br>
    </div>
  </form>
  <div class="caption">
    <a href="#">Forgot Password?</a>
  </div>


</section>

<script th:inline="javascript">
  let memberEmail = $('#memberEmail');
  let memberPWD = $('#memberPWD');
  let btn = $('#btn');

  $(btn).on('click', function (){
    if($(memberEmail).val() == ""){
      $(memberEmail).next('label').addClass('warning');
      setTimeout(function (){
        $('label').removeClass('warning');
      },1500);
    }else if($(memberPWD).val() == ""){
      $(memberPWD).next('label').addClass('warning');
      setTimeout(function (){
        $('label').removeClass('warning');
      },1500);
    }
  });
</script>
</body>
</html>

