<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta charset="UTF-8"/>
<title>Title</title>
<th:block th:insert="/common/common :: fragment-header"></th:block>
<link rel="stylesheet" th:href="@{/css/myInfo.css}">
<style>
    body{background-color: #f4f4f4;}
    #memberDetail .table{background-color: #ffffff; border-radius: 12px; padding:30px;}

</style>

    <script type="text/javascript">
        window.onload = function() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const message = urlParams.get('navMsg');

            if (message === 'myWrite') {
                $("#a_myWrite").click();
                const targetOffset = $("#memberDetail").offset().top;
                $("html, body").animate({ scrollTop: targetOffset }, 500);
            }else if (message === 'likes') {
                $("#a_likes").click();
                const targetOffset = $("#memberDetail").offset().top;
                $("html, body").animate({ scrollTop: targetOffset }, 500);
            }
        };
    </script>
</head>
<body>

<div th:replace="nav :: div"></div>

<section class="container mb-5" id="myInfo_section">
    <header class="mt-5">
        <h2>마이페이지</h2>
    </header>
    <article class="row mt-3" id="myInfo_article">
        <div id="myInfo_img_div" class="col-4 col-md-4 col-lg-2 col-xl-2 p-4">
            <img id="myInfo_img" th:src="@{/member/findProfileImg(memberId=${list.memberId})}" src="/static/img/defaultImg.png">
        </div>
        <div id="myInfo_text" class="col-8 col-md-8 col-lg-8 col-xl-8 py-5 px-4">
            <div class="mb-2" th:text="${list.memberName} + '님, 반갑습니다'"></div>
            <div th:text="'ID : ' + ${list.providerId}"></div>
        </div>
        <div id="myInfo_button_div" class="col-12 col-md-12 col-lg-2 col-xl-2 p-4">
            <button id="myInfo_button" class="py-2" th:onclick="|location.href='@{/member/editInfo}'|">내 정보 수정</button>
            <button id="admin_button" class="py-2" th:onclick="|location.href='@{/member/admin}'|" sec:authorize="hasRole('ROLE_ADMIN')">관리자 페이지</button>
        </div>


        <div class="col-6 col-md-6 col-lg-3 col-xl-3 p-4 myInfo_link_div">
            <div class="p-5">
            <span>내 글</span> <br>
            <a id="a_myWrite" href="#" th:onclick="'writeList('+${list.memberId}+')'">
                <p th:text="${list.myWrite}"></p>
            </a>
            </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3 col-xl-3 p-4 myInfo_link_div">
            <div class="p-5">
                <span>내 댓글</span> <br>
                <a href="#" th:onclick="'myReply('+${list.memberId}+')'">
                    <p th:text="${list.myReply}"></p>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3 col-xl-3 p-4 myInfo_link_div">
            <div class="p-5">
                <span>좋아요 누른 글</span> <br>
                <a id="a_likes"href="#" th:onclick="'likePost('+${list.memberId}+')'">
                    <p th:text="${list.myLikesCount}"></p>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3 col-xl-3 p-4 myInfo_link_div">
            <div class="p-5">
                <span>내 점수</span> <br>
                <a href="#" th:text="${list.score}"></a>
            </div>
        </div>
    </article>
    <article class="row mt-3 memberDetail" id="memberDetail"></article>
</section>
<!--footer-->
<div th:replace="footer :: footer"></div>
<script th:inline="javascript">
    /**
     * 내가 올린 게시글(중고게시글만)
     * */
    function writeList(memberId) {//내가올린게시글
        $.ajax({
            type: "get",
            url: "/member/myWrite",
            data: { "memberId": memberId },
            success: function (data) {
                $("#memberDetail").hide().html(data).slideDown();
            }
        });
    }

    /**
     * 댓글 적은 게시글
     * */
    function myReply(memberId) {
        $.ajax({
            type: "get",
            url: "/reply/myReply",
            data: {"memberId":memberId },
            success: function (data) {
                $("#memberDetail").hide().html(data).slideDown();
            }
        });
    }

    /**
     * 좋아요 누른 게시글
     * */
    function likePost(memberId){
        $.ajax({
            type: "get",
            url: "/used/likePost",
            data: {"memberId":memberId },
            success: function (data) {
                $("#memberDetail").hide().html(data).slideDown();
            }
        });
    }

    /**
     * 뒤로가기버튼
     */
    function removeHTML(){
        $("#memberDetail").slideUp().empty();
    }
</script>

</body>
</html>