<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:insert="/common/common :: fragment-header"></th:block>
    <style>
        #liInfo{color: red;}

        .myInfo{font-family: 'GangwonEduPowerExtraBoldA';}

        .myInfomation{display: flex; justify-content: space-evenly;}
        .titleBox{width: 200px; height: auto; text-align: left; padding-left: 2em; padding-bottom: 1.5em;}
        .profileImg{width: 100%;height: 100%;}
        .info-aria{display: flex;}
        .head{padding-top: 3em;}
    </style>
    <link rel="stylesheet" th:href="@{/css/myPage.css}">
</head>
<body>
<div th:replace="ex :: nav"></div>
<div th:replace="member/myPageNav :: nav"></div>

<div class="myInfomation container">
    <section class="myInfo" style="border: 1px solid; margin-bottom: 5em;">
        <div class="container">
            <div class="info-aria head">
                <div class="titleBox">
                    <img class="profileImg" th:src="@{/member/findProfileImg(memberId=${list.memberId})}" src="/static/img/defaultImg.png">
                </div>
                <div class="name_mail content">
                    <p class="name" th:text="${list.memberName}"></p>
                    <p class="name" th:text="${list.memberEmail}"></p>
                </div>
            </div>

            <div class="info-aria">
                <div class="titleBox">
                    <p class="title">활동 지역</p>
                </div>

                <div class="address content">
                    <p class="city" th:text="${list.address}"></p>
                    <p class="addressDetail" th:text="${list.addressDetail}"></p>
                </div>
            </div>

            <div class="info-aria">
                <div class="titleBox">
                    <p class="title">내가 작성한 글</p>
                </div>
                <div class="write content">
                    <a href="#" th:onclick="'writeList('+${list.memberId}+')'">
                        <p class="myWrite" th:text="${list.myWrite}"></p>
                    </a>
                </div>
            </div>



            <div class="info-aria">
                <div class="titleBox">
                    <p class="title">사용자 점수</p>
                </div>
                <div class="score content">
                    <p class="myScore" th:text="${list.score}"></p>
                </div>
            </div>

            <div class="info-aria">
                <div class="titleBox">
                    <p class="title" >관심있는 게시글</p>
                </div>
                <div class="like content">
                    <a href="#" class="like" th:onclick="'likePost('+${list.memberId}+')'">
                        <p class="myLikes" th:text="${list.myLikesCount}"></p>
                    </a>
                </div>
            </div>

            <div class="info-aria">
                <div class="titleBox">
                    <p class="title">내가 적은 댓글</p>
                </div>
                <div class="reply content">
                    <a href="#" class="like"  th:onclick="'myReply('+${list.memberId}+')'">
                        <p class="myReply" th:text="${list.myReply}"></p>
                    </a>
                </div>
            </div>

        </div>
    </section>
<section class="myWriteFive slide-in" id="myWriteFive"></section>
</div>

<div th:replace="footer :: footer"></div>

<script th:inline="javascript">
    function myReply(memberId) {
        $.ajax({
            type: "get",
            url: "/reply/myReply",
            data: {"memberId":memberId },
            success: function (data) {

                $("#myWriteFive").html(data);
            }
        });
    }
    function likePost(memberId){
        $.ajax({
           type: "get",
            url: "/used/likePost",
           data: {"memberId":memberId },
            success: function (data) {
               $("#myWriteFive").html(data);
            }
        });
    }
    function writeList(memberId) {//내가올린게시글
        $.ajax({
            type: "get",
            url: "/member/myWriteFive",
            data: { "memberId": memberId },
            success: function (data) {
                $("#myWriteFive").html(data);
            }
        });
    }

    function removeHTML() {
        const myWriteFive = $("#myWriteFive");
        myWriteFive.empty();
    }

    function myWrite(){
        location.href="/member/myWrite";
    }
</script>
</body>
</html>