<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <script>
        $(function () {
            $("#post_select").change(function () {
                console.log(123)
                paging(1);
                $.ajax({
                    url:"/member/likePost",
                    data:{postType:$("#post_select").val()},
                    type:"get",
                    success: function (data) {
                        $(".memberDetail").html(data);
                    }
                });
            });
        });
        function detail(postId){
            if (confirm("게시글 확인하러 가시겠습니까?")) {
                if ($("#post_select").val() == 'used') {
                    location.href="/used/detail?postId="+postId;
                }else if ($("#post_select").val() == 'club') {
                    location.href="/clubDetail?postId="+postId;
                }
            }
        }
        function paging(num) {
            $.ajax({
                method:"get",
                url: "/member/likePost",
                data: {"pageNum": num,
                    "postType" : $("#post_select").val()},
                success: function (data) {
                    $(".memberDetail").html(data);
                }
            });
        }
    </script>
    <style>
        body{background-color: #f4f4f4;}
    </style>
    <link rel="stylesheet" th:href="@{/css/myPage.css}">
</head>
<body>
    <h2 class="h2">관심 있는 게시글</h2>
    <div class="table">
        <article class="select_post">
            <select name="postType" id="post_select">
                <option value="used" th:selected="${postType eq 'used'}">중고거래</option>
                <option value="club" th:selected="${postType eq 'club'}">동네모임</option>
            </select>
        </article>
        <table  style="width: 100%;" class="table table-hover">
            <thead>
            <th>제목</th>
            <th>내용</th>
            <th>조회수</th>
            <th>좋아요</th>
            </thead>
            <tbody th:each="likes : ${list}">
            <tr th:onclick="'detail('+${likes.postId}+')'">
                <td th:text="${likes.title}"></td>
                <td th:text="${likes.content}"></td>
                <td th:text="${likes.postView}"></td>
                <td th:text="${likes.likesCount}"></td>
            </tr>
            </tbody>
        </table>

        <div th:replace="pagination/paging :: div" style="text-align: center;"></div>
        <div class="btnList">
            <button class="btn btn-outline-danger" type="button" id="btnBack" onclick="removeHTML()">뒤로가기</button>
        </div>
    </div>
</body>
</html>