<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>아나바다</title>

    <script>

        function usedDetail(postId){
            if (confirm("작성된 게시글을 확인 하시겠습니까?")) {
                location.href="/used/detail?postId="+postId;
            }
        }
        function clubDetail(postId){
            if (confirm("작성된 게시글을 확인 하시겠습니까?")) {
                location.href="/clubDetail?postId="+postId;
            }
        }
        function paging(num) {
            $.ajax({
                method:"get",
                url: "/member/likePost",
                data: {"pageNum": num,
                    "postType" : $("#post_select").val()},
                success: function (data) {
                    $(".memberDetail").html(data);
                }
            });
        }
    </script>
    <style>
        body{background-color: #f4f4f4;}
    </style>
    <link rel="stylesheet" th:href="@{css/myPage.css}">
</head>
<body>
    <h2 class="h2">관심 있는 게시글</h2>
    <div class="table">
        <table  style="width: 100%;" class="table table-hover">
            <thead>
            <th>제목</th>
            <th>내용</th>
            <th>조회수</th>
            <th>좋아요</th>
            </thead>
            <tbody th:each="likes : ${list}">
            <th:block th:if="${likes.postType eq 'club'}" >
              <tr th:onclick="'clubDetail('+${likes.postId}+')'">
            </th:block>
            <th:block th:if="${likes.postType eq 'used'}" >
                <tr th:onclick="'usedDetail('+${likes.postId}+')'">
            </th:block>

                <td th:text="${likes.title}"></td>
                <th:block >
                    <td th:if="${likes.postType ne 'del'}" th:text="${likes.content}"></td>
                    <td th:if="${likes.postType eq 'del'}">삭제된 게시글 입니다.</td>
                </th:block>
                <td th:text="${likes.postView}"></td>
                <td th:text="${likes.likesCount}"></td>
            </tr>
            </tbody>
        </table>

        <div th:replace="pagination/paging :: div" style="text-align: center;"></div>
        <div class="btnList">
            <button class="btn btn-outline-danger" type="button" id="btnBack" onclick="removeHTML()">뒤로가기</button>
        </div>
    </div>
</body>
</html>