<nav class="myPage container navbar navbar-expand-lg">
  <diV class="item">
    <ul class="navbar-nav">
      <li class="navList nav-item"><a class="tagA" id="liWrite" th:href="@{/member/myWrite}" >내가 쓴 글</a></li>
      <li class="navList nav-item"><a class="tagA" id="liInfo" th:href="@{/member/myInfo}" >개인 정보</a></li>
      <li class="navList nav-item"><a class="tagA" id="liEditInfo" th:href="@{/member/editInfo}">정보 변경</a></li>



      <!--관리자-->
      <li class="navList nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link dropdown-toggle" id="adminT" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding:0 0 0 0;">관리자</a>
        <ul class=" dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" th:href="@{/member/admin}">사용자 목록</a></li>
          <li><a class="dropdown-item" href="#!">신고 게시글</a></li>
          <li><a class="dropdown-item" href="#!">사용자 관리 </a></li>
        </ul>
      </li>

    </ul>
  </diV>
</nav>