<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:insert="/common/common :: fragment-header"></th:block>
    <style>
        #liWrite{color:red;}

    </style>
    <link rel="stylesheet" th:href="@{/css/myPage.css}">
</head>
<body>
<!-- Nav바-->
<div th:replace="nav :: div"></div>
<div th:replace="member/myPageNav :: nav"></div>

<div class="myWrite">
    <table  style="width: 100%;" class="table table-hover">
        <thead>
            <th>글번호</th>
            <th>카테고리</th>
            <th>사진</th>
            <th>제목</th>
            <th>등록일</th>
            <th>조회수</th>
        </thead>
        <tbody th:each="list : ${writeList}">
            <tr th:onclick="'detail('+${list.postId}+')'" >
                <td th:text="${list.postId}"></td>
                <td th:text="${list.categoryName}"></td>
                <td> <img class="img"  th:src="@{/used/findImg(postId=${list.postId})}"  alt="실패"></td>
                <td th:text="${list.title}"></td>
                <td th:text="${#dates.format(list.postUpdate,'yyyy년 MM월 dd일 HH시 mm분')}"></td>
                <td th:text="${list.postView}"></td>
            </tr>
        </tbody>
    </table>

    <!--페이지네비게이션-->
    <div th:replace="pagination/paging :: div"></div>
</div>

    <script th:inline="javascript">
        function detail(postId) {
            if (confirm("작성한 게시글로 가시겠습니까?")) {
                location.href="/used/detail?postId="+postId;
            }
        }
    </script>
<!-- Footer-->
<div th:replace="footer :: footer"></div>
</body>
</html>