<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
  <style>
    .img {width: 50px; height: 50px;}
    .h2{text-align: center; padding-bottom: 1.5em; font-family: 'GangwonEduPowerExtraBoldA';}
    .btnList{text-align: right;}
  </style>
</head>
<body>
<div class="myWriteFive">
  <h2 class="h2">내가 작성한 중고 상품 게시글</h2>
  <table  style="width: 100%;" class="table table-hover">
    <thead>
      <th>글번호</th>
      <th>카테고리</th>
      <th>사진</th>
      <th>제목</th>
      <th>등록일</th>
      <th>조회수</th>
    </thead>
    <tbody th:each="post : ${list}">
      <tr th:onclick="'detail('+${post.postId}+')'" >
        <td th:text="${post.postId}"></td>
        <td th:text="${post.categoryName}"></td>
        <td> <img class="img"  th:src="@{/used/findImg(postId=${post.postId})}"  alt="실패"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${#dates.format(post.postUpdate,'yyyy년 MM월 dd일 HH시 mm분')}"></td>
        <td th:text="${post.postView}"></td>
      </tr>
    </tbody>
  </table>
  <div class="btnList">
    <button class="btn btn-outline-secondary" type="button" id="btnWriteList" onclick="myWrite()">더 많은 글 확인하기</button>
    <button class="btn btn-outline-danger" type="button" id="btnBack" onclick="removeHTML()">뒤로가기</button>
  </div>
</div>
<script th:inline="javascript">
  /**
   * 게시글 리스트로 이동
   */
  function myWrite(){
    location.href="/member/myWrite";
  }
</script>
</body>
</html>