<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
  <style>
    body{background-color: #f4f4f4;}
    .btnList{text-align: right; padding-top: 1.5em; padding-bottom: 1.5em;}
  </style>
  <link rel="stylesheet" th:href="@{/css/myPage.css}">
  <script>

    function usedReply(postId) {
      if (confirm("댓글 적은 게시글을 확인하시겠습니까?")) {
          location.href = "/used/detail?postId="+postId;
      }
    }
    function clubReply(postId) {
      if (confirm("댓글 적은 게시글을 확인하시겠습니까?")) {
        location.href = "/clubDetail?postId="+postId;
      }
    }


    function paging(num) {
      $.ajax({
        method:"get",
        url: "/reply/myReply",
        data: {"pageNum": num},
        success: function (data) {
          $(".myReply_div").html(data);
        }
      });
    }
  </script>

</head>
<body>
<div class="myReply_div">
  <h2 class="h2">내가 작성한 댓글</h2>
  <div class="table">
    <table  style="width: 100%;" class="table table-hover">
      <thead>
        <th>제목</th>
        <th>게시글 유형</th>
        <th>댓글</th>
        <th>작성 날짜</th>
      </thead>
      <tbody th:each="reply : ${list}">
      <th:block th:if="${reply.postType eq '중고거래'}">
        <tr th:onclick="'usedReply('+${reply.postId}+')'">
      </th:block>
      <th:block th:if="${reply.postType eq '동네모임'}">
        <tr th:onclick="'clubReply('+${reply.postId}+')'">
      </th:block>

        <td th:text="${reply.title}"></td>
        <td th:text="${reply.postType}"></td>
        <td th:text="${reply.comment != '' ? reply.comment : '삭제된 댓글입니다.'}"></td>
        <td th:text="${#dates.format(reply.replyUpdate,'yyyy년 MM월 dd일 HH시')}"></td>
      </tr>
      </tbody>
    </table>

    <div th:replace="pagination/paging :: div" style="text-align: center;"></div>
    <div class="btnList">
      <button class="btn btn-outline-danger" type="button" id="btnBack" onclick="removeHTML()">뒤로가기</button>
    </div>
  </div>
</div>
</body>
</html>