*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*네비바*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
}
nav .logo{
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    margin: 0 10px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}
nav ul li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    width: 0;
    height: 2.5px;
    transition: all 0.3s ease;
}
nav ul li a:hover::before{
    width: 100%;
}
nav ul i{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}


/*플랙스 박스*/
.flex-box {
    display: flex;
    height: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }

/*아이템*/
/*1번째 내용*/
.section{
    background-color: black;
    width: 600px;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.main-section-wrap{
    max-width: 550px;
    margin: 0 auto;
    align-items: center;
}

.main-section-wrap .slide-box .content{
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 30px;
    overflow: hidden;
}
.slide-box .content > .img-box {
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%; /* 추가: 이미지의 최대 너비를 부모 요소에 맞춤 */
    max-height: 100%; /* 추가: 이미지의 최대 높이를 부모 요소에 맞춤 */
}

/*2번째 내용*/
.item2{
    background-color: darkseagreen;
    width: 600px;
    height: 500px;
}
.hashtags{
    display: flex;
    font-size: 12;
    color: blue;
}
.hashtags li {
    margin-right: 15px;
    list-style: none;
}
.menu_title{
    display: flex;
    font-size: 25px;
    margin-top: 10px;
}
.content{
    list-style: none;
    margin-top: 10px;
}
.bottom {
    list-style: none;
}
.views{
    font-size: 8px;
    color: gray;
    text-decoration: underline;
  text-decoration-color: black;
}
.username{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.username img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
}
.username li {
    list-style: none;
}
.info{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.info .fa-solid  {
    margin-right: 8px;
}
.btns{
    margin-top: 10px;
}
/*3번째 내용*/
.item3{
    background-color: aquamarine;
    width: 1200px;
    height: 300px;
    display: flex;
    
}

content{
    color : red;
}

/*4번째 내용*/

  


  
/*공통 내용*/
.section,
.item2,
.item4 {
 
    
  display: flex;
  
  
}


/*반응형 조절*/
@media screen and (max-width: 600px) {
    body {
      min-width: 600px;
      overflow-x: hidden;
    }
  }