
header {
    text-align: center;
    font-family: GangwonEduPowerExtraBoldA;
}
.container {
    height: 100%;
}
.col {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item {
    width: 400px;
    height: 368px;
    border-radius: 12px;
    background-color: #FFFFFF;
    cursor:pointer;
    font-family: GangwonEduPowerExtraBoldA;
}
.list_img {
    width: 100%;
    height: 200px;
    border-radius: 12px;
}
.category {
    text-align: right;
}
#category_select {
    width: 120px;
    height: 32px;
    border-radius: 8px;
    border-style: none;
    text-align: center;
}
.write {
  text-align: right;
}
#btnWrite {
    border-radius: 8px;
    border-style: none;
    background-color: #FFFFFF;
    width: 100px;
    height: 32px;
}
.div_1 {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.div_2 {
    display: flex;
    justify-content: space-between;
}

.div_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div_4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item h5, .item p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 224px;
}
.price {
    font-weight: bold;
}
#btnPlus {
    border-radius: 8px;
    border-style: none;
    background-color: #FFFFFF;
    width: 80px;
    height: 32px;
}