#myInfo_section {
    font-family: 'GangwonEduPowerExtraBoldA';
}
#myInfo_article {
    border-radius: 12px;
    background-color: #FFFFFF;
}
#myInfo_img_div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#myInfo_img {
    width: 160px;
    height: 180px;
    border-radius: 12px;
}
#myInfo_text {
    font-size: 24px;
}
#myInfo_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#myInfo_button {
    background-color: #FF3366;
    border-radius: 12px;
    border-style: none;
    color: #FFFFFF;
    font-family: 'omyu_pretty';
    font-size: 20px;
    width: 180px;
}
.myInfo_link_div {
    text-align: center;
}
.myInfo_link_div > div {
    border-radius: 12px;
    font-size: 20px;
    background-color: #F4F4F4;
}