/* 마이페이지 nav바 css*/
.tagA{text-decoration: none;}
.item{margin-top: 1.5em;margin-bottom: 3em;}
.item ul {list-style: none;}
.navList{padding-right: 2em;}
.myPage{font-family: 'GangwonEduPowerExtraBoldA';}

/* 페이징 css*/
.pagination {margin-top:3em;}
.pagination .pageNum{list-style: none; display: flex;}
.img {width: 50px; height: 50px;}
/* 테이블 css*/
.table{font-family: 'GangwonEduPowerExtraBoldA';}