

/* 페이징 css*/
.pagination {margin-top:3em;}
.pagination .pageNum{list-style: none; display: flex;}
.img {width: 50px; height: 50px;}
/* 테이블 css*/
.table{font-family: 'GangwonEduPowerExtraBoldA';}
.btnList{text-align: right;}
.select_post{font-family: 'omyu_pretty';}