a {
    text-decoration: none;
    color: #000;
}
.search_1 {
    position: relative;
    width: 240px;
}
.open-search {
    display: none;
    position: relative;
    width: 44px;
    cursor: pointer;
}
.searchInput{
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 12px;
    padding: 10px 12px;
    font-size: 14px;
}
.searchIcon{
    position: absolute;
    width: 17px;
    top: 12px;
    right: 12px;
    margin: 0px;
    cursor: pointer;
}
.border{
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 20px 12px;
}
.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchSelect{
    border: 1px solid #bbb;
    border-radius: 8px 0px 0px 8px;
    padding: 10px 4px;
    font-size: 14px;
}
.nav_title {
    font-family: GangwonEduPowerExtraBoldA;
    margin: 0px;
    padding-top: 16px;
    color: #FF3366;
}
.nav_title a {
    color: #FF3366;
}
.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 12px;
}
.top_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 64px;
    z-index: 10;
}
.nav_menu_1 {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin: 0px;
    padding-top: 8px;
    font-family: GangwonEduPowerExtraBoldA;
}
.nav_menu_1 li {
    font-size: 20px;
}
.nav_div {
    display: flex;
    justify-content:
    space-between;
    gap: 50px;
    align-items: center;
}
.menu {
    margin-top: 64px;
}
.nav_menu_2 {
    display: none;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
}
.nav_menu_2 div {
    border-bottom: 1px solid gray;
    padding: 12px;
    border-radius: 12px;
}
.login_div {
    background-color: #E6E6E6;
    border-top: 1px solid gray;
    border-radius: 12px;
    border-bottom: 1px solid gray;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#btnLogin, #btnLogout {
    background-color: #FFF;
    border-radius: 12px;
    padding-top: 8px;
}
@media screen and (max-width: 992px) {
    .nav_menu_1 {display: none;}
    .nav_menu_2 {display: block;}
}

@media screen and (max-width: 768px) {
    #searchForm_1 {display: none;}
    .open-search {display: block;}
    .nav_div {gap: 12px;}
}

input[id="menuicon"] {
    display:none;
}
input[id="menuicon"] + label {
    display:block;
    width:36px;
    height:26px;
    position:relative;
    cursor:pointer;
}
input[id="menuicon"] + label span {
    display:block;
    position:absolute;
    width:100%;
    height:4px;
    border-radius:30px;
    background:#000;
    transition:all .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
    top:0;
}
input[id="menuicon"] + label span:nth-child(2) {
    top:50%;
    transform:translateY(-50%);
} /* 비슷하게 사용할 수 있는 style top:calc(50% - 2.5px); margin-top:-2.5px;*/
input[id="menuicon"] + label span:nth-child(3) {
    bottom:0;
}
input[id="menuicon"]:checked + label {
    z-index:2;
}
input[id="menuicon"]:checked + label span {
    background: #000;

}
input[id="menuicon"]:checked + label span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity:0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}
div[class="sidebar"] {
    width: 360px;
    height: 100%;
    background: #F4F4F4;
    position: fixed;
    top: 0;
    right: -360px;
    z-index: 1;
    transition:all .35s;
    border: 1px solid gray;
}
input[id="menuicon"]:checked + label + div {
    right: 0;
}

#searchForm_2 {
    position: fixed;
    top: -64px;
    left: 0px;
    width: 100%;
    height: 64px;
    background-color: #FFF;
    transition:all .35s;
    z-index: 1;
}

#top{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 64px;
    z-index: -10;
}

.center {
position: relative;
top: 50px;
left: 20px;
height: 299px;
width: 320px;
background: #fff;
border-radius: 3px;
overflow: hidden;
box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
}

.profile {
float: left;
width: 200px;
height: 320px;
text-align: center;
}

.profile .image {
position: relative;
width: 70px;
height: 70px;
margin: 38px auto 0 auto;
}

.profile .image .circle-1 {
position: absolute;
box-sizing: border-box;
width: 76px;
height: 76px;
top: -3px;
left: -3px;
border-width: 1px;
border-style: solid;
border-color: #786450 #786450 #786450 transparent;
border-radius: 50%;
transition: all 1.5s ease-in-out;
}

.profile .image .circle-2 {
position: absolute;
box-sizing: border-box;
width: 82px;
height: 82px;
top: -6px;
left: -6px;
border-width: 1px;
border-style: solid;
border-color: #786450 transparent #786450 #786450;
border-radius: 50%;
}

.profile .image img {
display: block;
border-radius: 50%;
background: #F5E8DF;
}

.profile .image:hover .circle-1 {
transform: rotate(360deg);
}

.profile .image:hover .circle-2 {
transform: rotate(-360deg);
}

.profile .name {
font-size: 15px;
font-weight: 600;
margin-top: 20px;
}

.profile .memberId {
font-size: 11px;
line-height: 15px;
}

.profile .actions {
margin-top: 33px;
}

.profile .actions .btn {
display: block;
width: 120px;
height: 30px;
margin: 0 auto 10px auto;
background: none;
border: 1px solid #786450;
border-radius: 15px;
font-size: 12px;
font-weight: 600;
box-sizing: border-box;
transition: all .3s ease-in-out;
color: #786450;
}

.profile .actions .btn:hover {
background: #786450;
color: #fff;
}

.stats {
float: left;
}

.stats .box {
box-sizing: border-box;
width: 120px;
height: 99px;
background: #F5E8DF;
text-align: center;
padding-top: 28px;
transition: all .4s ease-in-out;
}

.stats .box:hover {
background: #E1CFC2;
cursor: pointer;
}

.stats .box:nth-child(2) {
margin: 1px 0;
}

.stats span {
display: block;
}

.stats .value {
font-size: 18px;
font-weight: 600;
}

.stats .parameter {
font-size: 11px;
}
.bottom{
  position: relative;
  width: 330px;
  height: 70px;

  margin-left: 15px;
  margin-top: 22px;
}
.bottom span {
position: relative;
top: -11px;
}
.bottom i{
  font-size: 50px;
  color: #d11515;
}
.bottom .logout{
position: absolute;
top: 270px;
}
