*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{margin-top:8px;}
.item2 , .item3{font-family: GangwonEduPowerExtraBoldA;}
.item2 pre {font-family: Humanbumsuk; font-size: 1.5em;}

/*플랙스 박스*/
.flex-box {
    display: flex;
    height: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }

/*아이템*/
/*1번째 내용*/
.section{
    /*background-color: black;*/
    width: 600px;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.main-section-wrap{
    max-width: 550px;
    margin: 0 auto;
    align-items: center;
}

.main-section-wrap .slide-box .content{
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 12px;
    overflow: hidden;
}

.main-section-wrap .noSlide-box .content{
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 12px;
    /*overflow: hidden;*/
}

.noSlide-box .content > .imgOne-box{
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%; /* 추가: 이미지의 최대 너비를 부모 요소에 맞춤 */
    max-height: 100%; /* 추가: 이미지의 최대 높이를 부모 요소에 맞춤 */
    position: relative;
    z-index: 1;
}

.slide-box .content > .img-box {
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%; /* 추가: 이미지의 최대 너비를 부모 요소에 맞춤 */
    max-height: 100%; /* 추가: 이미지의 최대 높이를 부모 요소에 맞춤 */
    position: relative;
    z-index: 1;
}
.slick-prev{/*버튼 위치 조정*/
    left: 40%;
    top: 90%;
    z-index: 2;
}
.slick-next{
    right: 40%;
    top: 90%;
    z-index: 2;
}
.slick-prev:before {/*왼쪽 버튼 디자인*/
    content: "<";
    color:rgb(47, 47, 47);
    font-size: 50px;
  }
  .slick-next:before {/*오른쪽 버튼 디자인*/
    content: ">";
    color: rgb(47, 47, 47);
    font-size: 50px;
  }

/*2번째 내용*/
.metadata{width: 100%;}
.detail_menu{margin-top: 1em;margin-left: 2em;}
.item2{
    margin-top: 8px;
    background-color: #FFFFFF;
    width: 600px;
    height: 542px;
    border-radius: 12px;
}
.usedInfo{height: 320px;}


.menu_title{
    display: flex;
    font-size: 25px;
    margin-top: 10px;
}
/*.content{*/
/*    list-style: none;*/
/*    margin-top: 10px;*/
/*}*/
.bottom {
    width: 530px;
    height: 250px;
    overflow: auto;
}

.views{
    text-align: right;
    display: block;
    font-size: 15px;
    color: gray;
    text-decoration: underline;
    text-decoration-color: black;
}
.username{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.username img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}
.username li {
    list-style: none;
}
.info{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.info .fa-solid  {
    margin-right: 8px;
}
/* 신고하기, 댓글보기*/
.btns{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.btns .report{font-size: 15px;}
.btns .reply{font-size: 20px;}

/*3번째 내용*/
.similarTitle{
    text-align: center;
    margin : 2em 0 1.5em 0;
}
.item3{
    /*background-color: aquamarine;*/
    width: 100%;
    height: auto;
    display: flex;
}

content{
    color : red;
}

/*4번째 내용*/





/*공통 내용*/
.section,
.item2,
.item4 {


  display: flex;


}


/*반응형 조절*/

@media screen and (max-width: 768px) {
    .section{/*이미지 틀*/
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .main-section-wrap{/*이미지 크기*/
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {

}
