<footer class="py-5 bg-dark" >
  <div class="container">
    <div class="text-white teamList" style="display: flex; flex-wrap : wrap;">
      <ul>
        <p><strong>팀 이름</strong></p>
        <li>아나바다</li>
      </ul>
      <ul>
        <p><strong>팀원</strong></p>
        <li>박상우</li>
        <li>우병걸</li>
        <li>송재영</li>
        <li>김정훈</li>
      </ul>
      <ul>
        <p><strong>깃허브 URL</strong></p>
        <li>https://github.com/<br>sangwopar/neighbor.git</li>
      </ul>
      <ul>
        <p><strong>유튜브 URL</strong></p>
        <li>https://github.com/<br>sangwopar/neighbor.git</li>
      </ul>
      <ul>
        <p><strong>학원</strong></p>
        <li>KH정보교육원</li>
        <li>(디지털컨버전스)자바(JAVA)기반 공공데이터 융합 개발자 양성과정A</li>
        <li>김시현 강사님</li>
      </ul>
      <ul>
        <p><strong>수업기간</strong></p>
        <li>2022. 12. 12 ~ <br>2023. 07. 20</li>
      </ul>
    </div>
    <p class="m-0 text-center text-white">Copyright &copy; 아나바다 </p>
  </div>
</footer>