<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="오이마켓" />
        <meta name="author" content="아나바다" />
        <title>오이마켓</title>
        <th:block th:insert="/common/common :: fragment-header"></th:block>
        <!-- 상단바 아이콘 나중에 괜찮은 이미 찾으면 넣기 -->
<!--        <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />-->
        <!-- BootStrap 추가설정 -->
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <style>
            .usedTitle{font-family: 'GangwonEduPowerExtraBoldA'; }
            .usedTitle{text-align: center;}
            .section1{background-color: rgb(255, 255, 230);}
            .container .title ,.subtitle{text-align: right;}
            .container .title{font-size: xxx-large; margin-bottom: 1em;}
            .container .subtitle{font-size: x-large;}
        </style>
    </head>
    <body>
        <!-- Nav바-->
     <div th:replace="ex :: nav"></div>
        <!-- 헤더-->
        <header class="bg-image py-5 mainBackgroundImg">
            <div class="container px-4 px-lg-5 my-5" style="height: 500px;">
                <div class="container" >
                    <h1 class="title">아-나-바-다</h1>
                    <p class="subtitle">중고거래, 동호회 등 내 주변에서 동네 친구찾자!</p>
                </div>
            </div>
        </header>
        <!-- 섹션 -->
        <section class="py-5 section1">
            <div class="usedTitle" >
                <h2>아껴쓰고 나눠써요</h2>
                <p>같은제품 더 저렴하게 중고거래</p>
            </div>
            <div class="container px-4 px-lg-5 mt-5" >
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" >
                    <div class="col mb-5" th:each="list:${starList}">
                        <div class="card h-100" >
                            <!-- 인기 제품 뱃지-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">지금 인기있는 중고제품</div>
                            <!-- 중고상품 이미지  450 * 300이 적절-->
                                <img style="width: 268px; height: 180px;" class="card-img-top"  th:src="@{/used/findImg(postId=${list.postId})}"  alt="실패">
                            <!-- 중고상품 상세-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- 중고상품 이름-->
                                    <h5 class="fw-bolder" th:text="${list.title}"></h5>
                                    <!-- 판매자 이름 -->
                                    <h6 class="fw" th:text="${list.memberName}"></h6>
                                    <!-- 판매자 평점-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>                                
                                    <!-- 중고상품 가격-->
                                    <p th:text="${list.price}"></p>
                                </div>
                            </div>
                            <!-- 상품 구매하기-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:onclick="|location.href='@{/used/detail(postId=${list.postId})}'|">자세히 보기</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="btnUsed" style="text-align: center;"><button class="btn btn-outline-secondary" th:onclick="|location.href='@{/used/list}'|">더 많은 상품 보기</button></div>
     </section>

        <section class="py-5 section2">
        <div class="usedTitle">
            <h3>아껴쓰고 나눠써요</h3>
            <p>같은제품 더 저렴하게 중고거래</p>
        </div>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- 인기 제품 뱃지-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">지금 인기있는 중고제품</div>
                        <!-- 중고상품 이미지  450 * 300이 적절-->
                        <img class="card-img-top" src="https://file2.nocutnews.co.kr/newsroom/image/2020/02/19/20200219114114556225_8_450_300.jpg" alt="..." />
                        <!-- 중고상품 상세-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- 중고상품 이름-->
                                <h5 class="fw-bolder">아이폰</h5>
                                <!-- 판매자 이름 -->
                                <h6 class="fw">중고만파는사람</h6>
                                <!-- 판매자 평점-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                 </div>
                                <!-- 중고상품 가격-->
                                1,500,000원
                            </div>
                        </div>
                        <!-- 상품 구매하기-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">구매하기</a></div>
                        </div>
                    </div>
                </div>
                <div class="btnUsed" style="text-align: center;"><button>더 많은 상품 보기</button></div>
            </div>
        </div>
    </section>

        <!-- Footer-->
    <div th:replace="footer :: footer"></div>

    </body>
</html>
