<nav class="top_nav">
    <div class="container nav_container">
        <div class="nav_div">
            <h1 class="nav_title"><a href="/">아나바다</a></h1>
            <ul class="nav_menu_1">
                <li><a href="/used/list">중고거래</a></li>
                <li><a href="/club">동네모임</a></li>
                <li><a href="#">주변맛집</a></li>
            </ul>
        </div>
        <div class="nav_div">
            <form id="searchForm_1" class="searchForm" method="get">
                <select class="searchSelect" name="searchOption">
                    <option value="used">중고물품</option>
                    <option value="club">동네모임</option>
                </select>
                <div class="search_1">
                    <input name="search" class="searchInput" type="search" placeholder="검색어 입력" onkeyup="search()">
                    <input type="hidden">
                    <img id="btnSearch_1" class="searchIcon" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
                </div>
            </form>

            <form id="searchForm_2" class="searchForm" method="get">
                <select class="searchSelect" name="searchOption">
                    <option value="used">중고물품</option>
                    <option value="club">동네모임</option>
                </select>
                <div class="search_1">
                    <input name="search" class="searchInput" type="search" placeholder="검색어 입력">
                    <input type="hidden">
                    <img id="btnSearch_2" class="searchIcon" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
                </div>
            </form>

            <div class="open-search">
                <div class="border">
                    <img class="searchIcon" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
                </div>
            </div>

            <input type="checkbox" id="menuicon">
            <label for="menuicon">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="sidebar">
                <div class="menu">
                    <div class="frame">
                        <div class="center" sec:authorize="isAuthenticated()">

                            <div class="profile">
                                <div class="image">
                                    <div class="circle-1"></div>
                                    <div class="circle-2"></div>
                                    <img src="https://100dayscss.com/codepen/jessica-potter.jpg" width="70" height="70" alt="Jessica Potter">
                                </div>

                                <div class="name">김김김</div>
                                <div class="job">아이디 #111</div>

                                <div class="actions">
                                    <button class="btn">Setting</button>
                                    <button class="btn">Message</button>
                                </div>
                            </div>

                            <div class="stats">
                                <div class="box">
                                    <span class="value">523</span>
                                    <span class="parameter">Posts</span>
                                </div>
                                <div class="box">
                                    <span class="value">1387</span>
                                    <span class="parameter">스코어</span>
                                </div>
                                <div class="box">
                                    <span class="value">146</span>
                                    <span class="parameter">Follower</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottom">
                            <div sec:authorize="isAnonymous()">
                                <a href='/member/loginForm'>
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                                <span>로그인</span></div>
                            <div class="logout" sec:authorize="isAuthenticated()"><a href='/logout'>
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </a>
                            <span>로그아웃</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


