<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/">오이 마켓</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/used/list">중고거래</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">내정보</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">커뮤니티</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/club">같이해요</a></li>
            <!-- <li><hr class="dropdown-divider" /></li> 줄쳐주는 코드 -->
            <li><a class="dropdown-item" href="#!">실시간 채팅</a></li>
            <li><a class="dropdown-item" href="#!">주변맛집</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" action="/member/login">
        <button class="btn btn-outline-dark" type="submit">
          <i class="me-1"></i>
          로그인
          <!-- <span class="badge bg-dark text-white ms-1 rounded-pill">0</span> 상품개수 확인해주는 코드 -->
        </button>
      </form>
    </div>
  </div>
</nav>