<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>club Details Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/e2064a471f.js" crossorigin="anonymous"></script>
    <th:block th:insert="/common/common :: fragment-header"></th:block>

    <link rel="stylesheet" href="/css/usedDetail.css">
</head>
<body>
<!-- Nav바-->
<div th:replace="nav :: div"></div>

<!--플랙스 박스-->
<div class="flex-box">
    <!--1번 박스 사진 나오는곳-->
    <section class="section">
        <div class="main-section-wrap">
            <div class="slide-box">
                <div class="content"  th:each="image : ${images}" >
<!--                    <img th:src="@{${image.url}}" alt="${image.name}"/>-->
<!--                    <a th:href="@{${image.url}}">다운로드</a>-->
                    <div class="img-box" th:style="'background-image: url('+@{${image.url}}+')'"></div>
<!--                    <div class="img-box" style="background-image: url(/img/recent-1.jpg);"></div>-->
                </div>
            </div>

        </div>
    </section>
    <!--2번 박스 제목 작성자 뷰 등등-->
    <section class="item2">
        <div class="metadata">

            <ul class="hashtags"><!--포스트 타입-->
                <li>#운동</li>
                <li>#술</li>
                <li>#지역</li>
            </ul>

            <div class="detail_menu"><!--제목-->
                <span th:text="${club.title}" class="menu_title">
                    제목 모든일 합니다.
                </span>
            </div>

            <div class="views"><!--조회수 생성일-->
                <span class="views">view 1M   1month ago</span>
            </div>

            <ul class="username"><!--글쓴이 이름 사진-->
                <li><img th:src="@{/member/findProfileImg(memberId=${club.memberId})}" src="/img/author-4.jpg" alt="프로필 사진"/></li>
                <li>김김김</li>
            </ul>
            <div>
                <ul>
                    <li class="content">내용
                        <ul>
                            <li th:text="${club.content}" class="bottom">
                                와인🍷에 관심이 있으신 회원분들 어서오세용 :)
                                문토에서 와인소셜링으로 좋은 사람들 많이 만났고,
                                또 열어달라고 하신분들도 많아서
                                오랫만에 다시 고고 해봅니다!
                                가보자고!!ㅋㅋㅋ(feat.맛집/ 합정 스트링비스트로)

                                평소에 궁금했던 와인🍷 마셔보고 싶었던
                                와인🍷 함께 테이스팅 해보는 소셜링입니다!

                                와인🍷은 데일리 와인🍷 좋은 와인🍷
                                앞으로 다양하게 마셔보려고 하는데 오셔서
                                추천해주셔도 너무 좋습니다~!
                                스타트로 가성비 좋은 데일리와인🍷함께 마셔봐요!
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="info">
                <!-- 인원수 받는 곳 -->
                <i class="fa-solid fa-users"></i>
                <span class="current-members">현재 인원: <span th:text="${club.nowMan}"></span>명</span>
                <span class="max-members" >모집 인원: <span th:text="${club.maxMan}"></span>명</span>
            </div>

            <div class="btns"><!--가입버튼-->
                <button th:if="${club.clubJoinYn == 0}" class="subscribe"  type="button" onclick="abc();">가입하기</button>
                <button th:if="${club.clubJoinYn == 1}" class="subscribe" type="button">탈퇴하기</button>
                <button class="unsubscribe" id="unsubscribe">탈퇴하기</button>
            </div>
        </div>

    </section>
    <!--3번 박스 포스트 내용 보는곳-->
    <section class="item3">

    </section>
    <!--4번 박스 클럽 추천 사진-->
    <div class="item4">


    </div>
</div>
<!--footer-->
<div th:replace="footer :: footer"></div>
<script>
    $('.slide-box').slick({
        slidesToShow:1,
        swipeToSlide: true,
        arrows:true,
        dots:true,

});

function abc(){
    alert("hi");
 $.ajax(
    {
        type : "post",
        url : "/club/join",
        data: {postId: [[${club.postId}]]},
        success: function(clubJoin){
            if(clubJoin.clubJoinYn == 1){
                alert("성공");
            }else{
                alert("실패");
            }
        }
    }
 )
}

//가입하기 ajax
// $(".subscribe").click(function(){
//     alert([[${club.postId}]]);
//    $.ajax({
//         type: "post",
//         url :" /club/join",
//         data: {postId: [[${club.postId}]]},
//         success: function(clubJoin){
//             if(clubJoin.clubJoinYn == 1){
//                 $(".subscribe").html('탈퇴하기');
//                 alert("가입성공");
//             }else{
//                 $(".subscribe").html('가입하기');
//                 alert("탈퇴성공");
//             }
//         }
//    });
//    });

<!--function abc(){-->
<!--    alert([[${club.postId}]]);-->
<!--   $.ajax({-->
<!--        type: "post",-->
<!--        url " /club/join",-->
<!--        data: {postId: [[${club.postId}]]},-->
<!--        success: function(clubJoin){-->
<!--            if(clubJoin.clubJoinYn == 1){-->
<!--                $(".subscribe").html('탈퇴하기');-->
<!--                alert("가입성공");-->
<!--            }else{-->
<!--                $(".subscribe").html('가입하기');-->
<!--                alert("탈퇴성공");-->
<!--            }-->
<!--        }-->
<!--   });-->

<!--}-->
</script>


</body>
</html>