<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta charset="UTF-8">
<title>아나바다</title>
<th:block th:insert="common/common :: fragment-header"></th:block>
<link rel="stylesheet" th:href="@{css/clubList.css}">
<style>
    body {
        background-color: #f4f4f4;
    }
</style>
    <script th:inline="javascript">
        // 파일 선택
        function selectFile(element) {

            const file = element.files[0];

            // 파일 크기가 10MB를 초과하는 경우
            const fileSize = Math.floor(file.size / 1024 / 1024);
            if (fileSize > 10) {
                alert('10MB 이하의 파일로 업로드해 주세요.');
                element.value = '';
                return false;
            }
        }

        function removeFile() {
            document.getElementById("formFileMultiple").value = '';
        }

        $(function(){

            // 글작성 검증
            $("#btnSubmit").click(function(){
                let title = $("#inputTitle");
                let category = $("#inputHobby");
                let content = $("#inputContent");
                let files = $("#formFileMultiple");
                let maxMan = $("#inputMaxMan");

                const titleTest = /^[\s\S]{1,30}$/;
                if (title.val() == '') {
                    alert("제목을 입력하세요");
                    title.focus();
                    return;
                }
                if (!titleTest.test(title.val())) {
                    alert("제목은 30글자 이내로 입력하세요(공백 포함)");
                    title.focus();
                    return;
                }

                if(category.val() == "모임종류") {
                    alert("모임종류를 선택하세요");
                    category.focus();
                    return;
                }

                if (content.val() == "") {
                    alert("내용을 입력하세요");
                    content.focus();
                    return;
                }
                if (files.val() == "") {
                    alert("사진을 올려주세요");
                    files.focus();
                    return;
                }

                if (maxMan.val() == "") {
                    alert("최대인원수를 입력하세요");
                    maxMan.focus();
                    return;
                }
                document.writeForm.submit();
            });

            $("#btnWrite").click(function (){
                if(checkIsAuthenticated()){
                    if(checkIsAuthorization()){
                        location.href="/member/editInfo?message=추가 정보를 입력한 뒤에 사용하세요";
                        return;
                    }else{
                        $("#writeForm").slideDown();
                    }
                }else{
                    if(confirm("상품등록은 로그인 후 가능합니다\n로그인 하시겠습니까?")){
                        location.href="/member/loginForm";
                    }
                }
            });

            $("#returnBtn").click(function (){
                $("#writeForm").slideUp();
            });

            // 게시물 더보기
            let num = 0;
            $("#btnPlus").click(function (){
                num+=6;
                $.ajax({
                    type: "get",
                    url: "/clubList",
                    data: {num:num, hobbyName:$("#category_select").val(), search:$("#search").val()},
                    success: function(data) {
                        $("#list").append(data);
                    }
                });
            });

            $("#category_select").change(function(){
                let hobbyName = $("#category_select").val();
                let search = $("#search").val();

                location.href="/clubList?hobbyName=" + hobbyName + "&search=" + search;
            });
        });
    </script>
</head>
<body>
<div th:replace="nav::div"></div>

<header class="mt-5">
    <h1><a href="#" onclick="reload()">동네모임</a></h1>
</header>

<section class="container mt-2">
    <div class="div_1 py-3">
        <article class="write">
            <button type="button" class="mb-3" id="btnWrite">모임등록</button>
        </article>
        <article class="category">
            <select id="category_select" name="categoryId">
                <option value="0">전체모임</option>
                <th:block th:each="hobby : ${hobby}">
                    <option th:value="${hobby.hobbyName}" th:text="${hobby.hobbyName}" th:selected="${hobby.hobbyName eq hobbyName}"></option>
                </th:block>
            </select>
        </article>
    </div>
    <article  id="writeForm" style="display: none;" th:include="club/clubSave :: div"></article>

    <div id="list" class="row">
        <article class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 pb-5" th:each="club : ${clubList}">
            <div class="item p-3" th:onclick="|location.href='@{clubDetail(postId=${club.postId})}'|">
                <img class="list_img" th:src="@{${club.fileInfo.url}}">
                <div class="text">
                    <h5 th:text="${club.title}"></h5>
                    <span class="content" th:text="${club.content}"></span><!--내용 10자이내로-->

                    <div class="listdetail"><!--지역 운동 생성일-->
                        <span class="category" th:text="${club.hobbyName}"></span>
                        <span class="region" th:inline="text" style="font-family: 'omyu_pretty';">
                            <i class="fa-solid fa-map-location-dot"></i>
                            [[${club.address}]]
                        </span>
                    </div>
                    <div class="members">
                        <img th:src="@{member/findProfileImg(memberId=${club.memberId})}" alt="fail">
                        <th:block th:each="man : ${club.memberIdList}">
                            <img th:src="@{member/findProfileImg(memberId=${man})}" alt="fail">
                        </th:block>


                        <div class="count">
                            <i class="fa-solid fa-people-group"></i>
                            <span th:text="${club.nowMan}"></span>
                            <span>/</span>
                            <span th:text="${club.maxMan}"></span>
                        </div><!--인원수 나타내는-->
                    </div>
                    <div style="justify-content: flex-end; display: flex; gap: 20px;">
                        <span th:inline="text">
                            [[${club.postView}]]
                            <i class="bi bi-caret-up-fill"></i>
                        </span>
                        <span th:inline="text">
                            [[${club.likesCount}]]
                            <i class="bi bi-heart-fill" style="color: red"></i>
                        </span>
                        <span th:inline="text">
                            [[${club.replyCount}]]
                            <i class="bi bi-chat-dots-fill"></i>
                        </span>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <article class="col col-12 mb-5">
        <button type="button" id="btnPlus">더보기</button>
    </article>
</section>

<!-- Footer-->
<div th:replace="footer :: footer"></div>
</body>
</html>