<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>더보기</title>
  <link rel="stylesheet" th:href="@{/css/clubList.css}">
  <style>
    body {
        background-color: #f4f4f4;
    }
</style>
</head>

<body>
<article class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 pb-5" th:each="club : ${clubList}">
    <div class="item p-3" th:onclick="|location.href='@{clubDetail(postId=${club.postId})}'|">
        <img class="list_img" th:src="@{${club.fileInfo.url}}">
        <div class="text">
            <h5 th:text="${club.title}"></h5>
            <span class="content" th:text="${club.content}"></span><!--내용 10자이내로-->
            <div class="listdetail"><!--지역 운동 생성일-->
                <span class="category" th:text="${club.hobbyName}"></span>
                <span class="region">
                    <i class="fa-solid fa-map-location-dot"></i>
                    [[${club.address}]]
                </span>
            </div>
            <div class="members">
                <img th:src="@{/member/findProfileImg(memberId=${club.memberId})}" alt="fail">
                <th:block th:each="man : ${club.memberIdList}">
                    <img th:src="@{/member/findProfileImg(memberId=${man})}" alt="fail">
                </th:block>

                <div class="count">
                    <i class="fa-solid fa-people-group"></i>
                    <span th:text="${club.nowMan}"></span>
                    <span>/</span>
                    <span th:text="${club.maxMan}"></span>
                </div><!--인원수 나타내는-->
            </div>
            <div style="justify-content: flex-end; display: flex; gap: 20px;">
                <span th:inline="text">
                    [[${club.postView}]]
                    <i class="bi bi-caret-up-fill"></i>
                </span>
                <span th:inline="text">
                    [[${club.likesCount}]]
                    <i class="bi bi-heart-fill" style="color: red"></i>
                </span>
                <span th:inline="text">
                    [[${club.replyCount}]]
                    <i class="bi bi-chat-dots-fill"></i>
                </span>
            </div>
        </div>
    </div>
</article>
</body>
</html>
